USE [testDB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [Users_unit_fkey]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [Users_department_fkey]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [Users_comcommittee_fkey]
GO
ALTER TABLE [dbo].[updfUrlsModel] DROP CONSTRAINT [updfUrlsModel_userID_fkey]
GO
ALTER TABLE [dbo].[unit] DROP CONSTRAINT [unit_de_fkey]
GO
ALTER TABLE [dbo].[unit] DROP CONSTRAINT [unit_co_fkey]
GO
ALTER TABLE [dbo].[department] DROP CONSTRAINT [department_co_fkey]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[updfUrlsModel]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[updfUrlsModel]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[unit]
GO
/****** Object:  Table [dbo].[department]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[department]
GO
/****** Object:  Table [dbo].[com]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[com]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP TABLE [dbo].[_prisma_migrations]
GO
USE [master]
GO
/****** Object:  Database [testDB]    Script Date: 27-11-2024 02:10:24 ص ******/
DROP DATABASE [testDB]
GO
/****** Object:  Database [testDB]    Script Date: 27-11-2024 02:10:24 ص ******/
CREATE DATABASE [testDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testDB]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL DEFAULT (getdate()),
	[applied_steps_count] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[com]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[com](
	[co] [int] IDENTITY(1,1) NOT NULL,
	[com] [varchar](100) NOT NULL,
 CONSTRAINT [com_pkey] PRIMARY KEY CLUSTERED 
(
	[co] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[department]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[department](
	[de] [int] IDENTITY(1,1) NOT NULL,
	[com] [varchar](100) NOT NULL,
	[co] [int] NOT NULL,
 CONSTRAINT [department_pkey] PRIMARY KEY CLUSTERED 
(
	[de] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unit]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unit](
	[un] [int] IDENTITY(1,1) NOT NULL,
	[unit] [varchar](100) NOT NULL,
	[co] [int] NOT NULL,
	[de] [int] NOT NULL,
 CONSTRAINT [unit_pkey] PRIMARY KEY CLUSTERED 
(
	[un] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[updfUrlsModel]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[updfUrlsModel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pdfUrl] [varchar](200) NOT NULL,
	[pdfUrlDate] [date] NOT NULL,
	[userID] [int] NOT NULL,
 CONSTRAINT [updfUrlsModel_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-11-2024 02:10:24 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[comcommittee] [int] NOT NULL,
	[department] [int] NOT NULL,
	[unit] [int] NOT NULL,
	[employeeHireDate] [date] NOT NULL,
 CONSTRAINT [Users_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'0ef378d3-3c3a-427e-a3b2-5b7e6c829d8d', N'a3b4361ed7c84b41a83373bc679e914d0759ac0e485c8cff4565d5e27d7b8db4', CAST(N'2024-11-22T13:06:48.2719893+00:00' AS DateTimeOffset), N'20241120204907_second_migration_department', NULL, NULL, CAST(N'2024-11-22T13:06:48.2594865+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'43fed8a1-0265-4805-bbb6-dd999bff4552', N'50b78bf309842685c668231d31b4d2379a14f0ebe0df1a9da1a7ae346e6a36df', CAST(N'2024-11-26T17:37:12.1849611+00:00' AS DateTimeOffset), N'20241120175003_first_migration_committee', NULL, NULL, CAST(N'2024-11-26T17:37:12.1777344+00:00' AS DateTimeOffset), 1)
INSERT [dbo].[_prisma_migrations] ([id], [checksum], [finished_at], [migration_name], [logs], [rolled_back_at], [started_at], [applied_steps_count]) VALUES (N'48425f39-e166-447e-aa5f-777b979e88f7', N'7ed9497d071286a6aeb191bd3dd011033ed71290218471ac878f0396a0002b35', CAST(N'2024-11-26T17:37:35.6454790+00:00' AS DateTimeOffset), N'20241126173735_add_updf_urls_model', NULL, NULL, CAST(N'2024-11-26T17:37:35.6384611+00:00' AS DateTimeOffset), 1)
SET IDENTITY_INSERT [dbo].[com] ON 

INSERT [dbo].[com] ([co], [com]) VALUES (1, N'هيئـــة المشتقات الخفيفة')
INSERT [dbo].[com] ([co], [com]) VALUES (2, N'هيئـــــــــة الطاقة')
INSERT [dbo].[com] ([co], [com]) VALUES (3, N'م. مدير عام للشؤون الادارية')
SET IDENTITY_INSERT [dbo].[com] OFF
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([de], [com], [co]) VALUES (1, N' قسم الاستلام والتجهيز', 2)
INSERT [dbo].[department] ([de], [com], [co]) VALUES (2, N' قسم البناء والأنشاءات', 6)
INSERT [dbo].[department] ([de], [com], [co]) VALUES (3, N' قسم تعاملات المياه', 3)
SET IDENTITY_INSERT [dbo].[department] OFF
SET IDENTITY_INSERT [dbo].[unit] ON 

INSERT [dbo].[unit] ([un], [unit], [co], [de]) VALUES (82, N'الوحدة الادارية', 2, 2)
INSERT [dbo].[unit] ([un], [unit], [co], [de]) VALUES (83, N'شعبة التجهيز', 2, 2)
INSERT [dbo].[unit] ([un], [unit], [co], [de]) VALUES (84, N'شعبة التفريغ', 2, 2)
GO
SET IDENTITY_INSERT [dbo].[unit] OFF
SET IDENTITY_INSERT [dbo].[updfUrlsModel] ON 

INSERT [dbo].[updfUrlsModel] ([id], [pdfUrl], [pdfUrlDate], [userID]) VALUES (1, N'/uploads/2024/11/25/8800_2024.pdf', CAST(N'2024-11-25' AS Date), 13)
INSERT [dbo].[updfUrlsModel] ([id], [pdfUrl], [pdfUrlDate], [userID]) VALUES (2, N'/uploads/2024/11/25/240_2024.pdf', CAST(N'2024-11-25' AS Date), 14)
INSERT [dbo].[updfUrlsModel] ([id], [pdfUrl], [pdfUrlDate], [userID]) VALUES (3, N'/uploads/2024/11/24/8049_2024.pdf', CAST(N'2024-11-24' AS Date), 15)
SET IDENTITY_INSERT [dbo].[updfUrlsModel] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [userName], [comcommittee], [department], [unit], [employeeHireDate]) VALUES (7, N'حيدر جعفر كريم', 6, 58, 396, CAST(N'2024-11-25' AS Date))
INSERT [dbo].[Users] ([id], [userName], [comcommittee], [department], [unit], [employeeHireDate]) VALUES (9, N'علي حسن محمد عبد اللة', 6, 58, 396, CAST(N'2022-10-10' AS Date))
INSERT [dbo].[Users] ([id], [userName], [comcommittee], [department], [unit], [employeeHireDate]) VALUES (10, N'علي', 6, 58, 396, CAST(N'2024-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[department]  WITH CHECK ADD  CONSTRAINT [department_co_fkey] FOREIGN KEY([co])
REFERENCES [dbo].[com] ([co])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[department] CHECK CONSTRAINT [department_co_fkey]
GO
ALTER TABLE [dbo].[unit]  WITH CHECK ADD  CONSTRAINT [unit_co_fkey] FOREIGN KEY([co])
REFERENCES [dbo].[com] ([co])
GO
ALTER TABLE [dbo].[unit] CHECK CONSTRAINT [unit_co_fkey]
GO
ALTER TABLE [dbo].[unit]  WITH CHECK ADD  CONSTRAINT [unit_de_fkey] FOREIGN KEY([de])
REFERENCES [dbo].[department] ([de])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[unit] CHECK CONSTRAINT [unit_de_fkey]
GO
ALTER TABLE [dbo].[updfUrlsModel]  WITH CHECK ADD  CONSTRAINT [updfUrlsModel_userID_fkey] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[updfUrlsModel] CHECK CONSTRAINT [updfUrlsModel_userID_fkey]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_comcommittee_fkey] FOREIGN KEY([comcommittee])
REFERENCES [dbo].[com] ([co])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_comcommittee_fkey]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_department_fkey] FOREIGN KEY([department])
REFERENCES [dbo].[department] ([de])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_department_fkey]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_unit_fkey] FOREIGN KEY([unit])
REFERENCES [dbo].[unit] ([un])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_unit_fkey]
GO
USE [master]
GO
